@model Lab5_PersonalPage.Models.ForgotPassword

@{
    ViewData["Title"] = "Create";
}

<h4>Thank you, if the account exists we will send you an email to reset your password</h4>
<hr />

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
